<% if(page.content) { %>
        <% if(page.toc != false){%>
            <div class="toc">
                <%- "<h2> 文章目录 </h2> " %>
                <%-  toc(page.content) %>
            </div>
        <% } %>
<% } %>


