// Color
color-background = #eee
color-font = #444
//color-font = #999
color-meta = #999
color-border = #ddd
color-link = #258fb8
color-tiffany = #258fb8
//color-link = #999
color-link-gray = #b1afb0

// Font
/*font-default = 'Open Sans',Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC","Hiragino Sans GB",Simsun,sans-serif*/
/*font-serif = "Georgia", serif*/
/*font-mono = Monaco, Menlo, Consolas, Courier New, monospace*/
/*font-title = 'Open Sans',Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC","Hiragino Sans GB",Simsun,sans-serif*/
/*font-header = 'Playball', cursive,"Helvetica Neue","Droid Sans Fallback","Heiti SC","Hiragino Sans GB",Simsun,sans-serif*/

// Linux默认字体 Windows 7.8.8.1默认字体 'Microsoft Yahei' Mac默认字体 "Heiti SC","Hiragino Sans GB"
font-default = "Helvetica Neue",Roboto,'Open Sans',Tahoma,Arial,"Droid Sans","Droid Sans Fallback","Heiti SC","Hiragino Sans GB",'Microsoft Yahei',Simsun,sans-serif

//code style
font-mono = Monaco, Menlo, Consolas, Courier New,'Microsoft Yahei'

font-title = 'Open Sans',Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC","Hiragino Sans GB",'Microsoft Yahei',Simsun,sans-serif

font-header = 'Play',"Hiragino Sans GB",cursive,"Helvetica Neue","Droid Sans Fallback","Heiti SC",Simsun,sans-serif


font-icon = FontAwesome

// Width
page-width = 1200px
